* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(assets/images/bg-mobile.png) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
/***********imagem e paragrafo*****************/
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  margin: auto;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/***********ESTILIZANDO LINKS DO BOTÃO*****************/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  display: flex;
  align-items: center;
  /justify-content: center;
  padding: 16px 24px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  backdrop-filter: blur(4px); /**/
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  font-weight: bold;
  transition: background 0.2s;
}

ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid white;
}

/***********Estilizando ícones *****************/
#social-links {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 24px 0;
  font-size: 24px;
}
