body {
  /* background-image: url(../images/bg-mobile.jpg);
  background-repeat: no-repeat;  
  background-position: top center; 
  background-size: cover; */

  /*background: COLOR IMAGE REAPT POSITION/SIZE*/
  background: url(../images/bg-mobile.jpg) no-repeat top center/cover;
}
/**/
